.row .logo{
    height: 10%;
    width: 7%;
    top: 0;
    
    position: absolute;
    right: 40%;
    left: 40%;
    
    
    

}

.fst-img{
    position: relative;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-left: 40%;
    margin-right: 40%;
    
    
}
.heading{

}
.Medical_clinic{
    align-items: center;
    background-color: dodgerblue;
    color: white;
   
  
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.Let_us{
    background-color: #36cacf;
    color: white;

}
section{
    padding: 20px;
    margin-top: 20px;
}
.about h5{
    color: #036DB9;
    padding-right: 30px;
    padding-top: 50%;
}
.us{
    font-weight: bold;
    color: #036DB9;
    
    
    font-size: 60px;

}
.lets_content {
    color: #036DB9;
}
.fst_hr{
    color: black;
}
.Special_attention h3 {
    margin-left: 50%;
    text-align: right;
    color: #036DB9;

}
.quote{
    color: gray;    
}
.tfh_line{
    background-color: black;
    
}
.tfh,.mobile,.covid{
    
}